<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bacchic Tendencies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
        <link rel="stylesheet" href="style.css" />
        <style>
            .rating-group {
                padding-top: 4px;
                padding-bottom: 4px;
                margin-bottom: 8px;
            }
            .game {
                display: inline-block;
                width: 50%;
            }
            .entered {
                color: #bdbdbd;
            }
        </style>
    </head>
    <body>
        <h1>Bacchic Tendencies</h1>
        <a style="float:right" href="/">Return to blog</a>
        <h2>Even though "I don't drink anymore"</h2>
        <div class="gamesPanel gamesPanel_isEmpty"></div>
        <div class="content"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="btbt.js"></script>
    </body>
</html>
